doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="#")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="")
    meta(name="author", content="")
    title Marketing Cloud Journey Builder - Custom Activity Filter Contact
    link(
      rel="stylesheet",
      type="text/css",
      href="/assets/styles/salesforce-lightning-design-system.min.css"
    )
    //- link(rel='stylesheet' type='text/css' href='/dist/design-system/styles/salesforce-lightning-design-system.min.css')
    link(rel="stylesheet", type="text/css", href="styles.css")
  body
    header
      .slds-global-header.slds-grid.slds-grid_align-spread
        .slds-global-header__item
          .slds-global-header__logo.logo-sf
        .slds-global-header__item
          ul.slds-global-actions
            li.slds-global-actions__item
              .slds-dropdown-trigger.slds-dropdown-trigger_click
                a.slds-button.slds-button_icon.slds-button_icon.slds-button_icon-container.slds-button_icon-small.slds-global-actions__help.slds-global-actions__item-action(
                  href="https://developer.salesforce.com/docs/atlas.en-us.mc-app-development.meta/mc-app-development/creating-activities.htm",
                  target="_blank",
                  aria-haspopup="true",
                  title="Help and Training"
                )
                  svg.slds-button__icon.slds-global-header__icon(
                    aria-hidden="true"
                  )
                    use(
                      xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#question"
                    )
                  span.slds-assistive-text Goto Online Documentation
    .container
      block content main

    script(
      type="text/javascript",
      src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
    )
    script(type="text/javascript", src="dist/split-activity.js")
